/*=================================================
-- Reset 
=================================================*/

*,
*::before, 
*::after  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: "Inter", sans-serif;
}

::selection{
    background-color: #888 ;
    color: white;
}


/*================================================= 
-- Variables
=================================================*/

:root {
    /*------------------------------
    ** Colors 
    ------------------------------*/

    --white: #fff;

    --accent: hsl(229, 76%, 66%);
    --accent-dark: hsl(229, 76%, 56%);

    --active-status-green: #00df6f;
    --active-status-red: #FF0000;

    --footer-background: hsl(229, 76%, 36%);


    /*------------------------------
    ** Transitions
    ------------------------------*/

    --trans-fast-xl: all 0.3s ease;
    --trans-fast: all 0.4s ease;
    --trans-medium: all 0.5s ease;
    --trans-slow: all 0.6s ease;
    --trans-slow-xl: all 0.7s ease;
    --trans-cb-1: 0.5s cubic-bezier(1, 0, 0.30, 0.70);
}


/*================================================= 
-- Preset
=================================================*/

a {
    display: inline-block;
    text-decoration: none;
}

span {
    display: inline-block;
}

ul, ol {
    list-style: none;
}

img, button {
    display: block;
}

button {
    font: inherit;
    border: none;
    background: none;
    cursor: pointer;
}


/*================================================= 
-- Reused Style
=================================================*/

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

.section-title {
    font-size: 30px;
    margin: 0;
    margin-left: 14px;
    margin-bottom: 20px;
    position: relative;
}

.section-title:before {
    content: "";
    background-image: url(../images/dots-bg.svg);
    display: block;
    height: 37px;
    left: -14px;
    top: -14px;
    position: absolute;
    width: 37px;
}


/*================================================= 
-- Scrollbar Settings
=================================================*/

::-webkit-scrollbar { 
    width: 8px; 
}

::-webkit-scrollbar-track { 
    background: hsl(0, 0%, 90%); 
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--accent-dark);
}


/*=================================================================*/
/*                      TYPOGRAPHY                              
/*=================================================================*/

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2f3640;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

/* h1 {
    font-size: 36px;
}
  
h2 {
    font-size: 28px;
}
  
h3 {
    font-size: 24px;
}
  
h4 {
    font-size: 18px;
} */


/*=================================================================*/
/*                      Common Styles                           
/*=================================================================*/

a.text-link {
    color: var(--accent-dark);
}

a.text-link:hover {
    text-decoration: underline;
}

.text-center {
    text-align: center;
}

.mx-auto {
    margin: 0 auto;
}

.mb-3 {
    margin-bottom: 12px;
}

.mb-0 {
    margin-bottom: 0;
}

.bg-white {
    background: hsl(229, 76%, 96%);
}

.padding-30 {
    padding: 30px;
}

.shadow-dark {
  -webkit-box-shadow: 0px 5px 20px 0px rgba(47, 54, 64, 0.1);
  box-shadow: 0px 5px 20px 0px rgba(47, 54, 64, 0.1);
}

.rounded {
    border-radius: 20px !important;
}

.triangle-top:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    position: absolute;
    left: 50%;
    top: -10px;
    -webkit-transform: translateX(-7.5px);
    -ms-transform: translateX(-7.5px);
    transform: translateX(-7.5px);
}

.position-relative {
    position: relative;
}

.mt-4 {
    margin-top: 16px;
}
 


/*=======================================| Web Styles starting from here |=======================================*/


/*================================================= 
-- Preloader
=================================================*/

#preloader {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #18191a;
    z-index: 10000;
}

.pl {
	display: block;
	width: 6.25em;
	height: 6.25em;
}
.pl__ring, .pl__ball {
	animation: ring 2s ease-out infinite;
}
.pl__ball {
	animation-name: ball;
}

/* Dark theme  */
@media (prefers-color-scheme: dark) {
	:root {
		--bg: hsl(var(--hue),10%,10%);
		--fg: hsl(var(--hue),10%,90%);
	}
}

/* Animation */
@keyframes ring {
	from {
		stroke-dasharray: 0 257 0 0 1 0 0 258;
	}
	25% {
		stroke-dasharray: 0 0 0 0 257 0 258 0;
	}
	50%, to {
		stroke-dasharray: 0 0 0 0 0 515 0 0;
	}
}
@keyframes ball {
	from, 50% {
		animation-timing-function: ease-in;
		stroke-dashoffset: 1;
	}
	64% {
		animation-timing-function: ease-in;
		stroke-dashoffset: -109;
	}
	78% {
		animation-timing-function: ease-in;
		stroke-dashoffset: -145;
	}
	92% {
		animation-timing-function: ease-in;
		stroke-dashoffset: -157;
	}
	57%, 71%, 85%, 99%, to {
		animation-timing-function: ease-out;
		stroke-dashoffset: -163;
	}
}


/*================================================= 
-- Header Section
=================================================*/

header {
    position: fixed;
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid #8f8f8f;
    transition: var(--trans-fast);
    background: #18191a;
    z-index: 9999;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav .logo-section a {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

nav .logo-section h1 {
    color: var(--white);
}

nav .nav-menu-section {
    display: flex;
    align-items: center;
}

nav .nav-menu-section ul {
    display: flex;
    column-gap: 25px;
}

nav .nav-menu-section ul li a {
    font-weight: 700;
    transition: var(--trans-medium);
    color: var(--white);
}

nav .nav-menu-section ul li:hover a {
    color: var(--accent);
}


/* Menu Icon */

.mobile-nav-icon {
    display: none;
}

.icon-container {
    display: inline-block;
    cursor: pointer;
}
 
.bar1, .bar2 {
    width: 20px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

.bar3 {
    width: 20px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 9px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -9px) rotate(45deg);
}


/*================================================= 
-- Hero Section
=================================================*/

section.hero-section {
    position: relative;
    height: 105vh;
    padding: 90px 0;
    display: flex;
    align-items: center;
    background: #18191a;
}

section.hero-section .contents {
    margin: auto;
    max-width: 540px;
    text-align: center;
    position: relative;
    z-index: 1;
}

section.hero-section .contents img {
    height: 150px;
    margin: 0 auto 16px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid var(--white);
    box-shadow: 0 10px 15px 5px #2f364015;
}

section.hero-section .contents h3 {
    margin-bottom: 8px;
    font-size: 24px;
    color: var(--white);
}

section.hero-section .contents h1 {
    margin-bottom: 8px;
    font-size: 32px;
    color: var(--white);
}

section.hero-section .contents span {
    margin-bottom: 16px;
    font-size: 20px;
    color: var(--white);
}

section.hero-section .contents .hero-btn a {
    position: relative;
    margin: 0 auto; 
    padding: 10px 20px;
    font-weight: 700;
    border-radius: 20px; 
    color: var(--white);
    background: var(--accent-dark);
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

section.hero-section .contents .hero-btn a:hover {
    -webkit-animation-name: button-push;
    animation-name: button-push;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

section.hero-section .contents .hero-btn a:active {
    background: var(--accent);
}

@keyframes button-push {
    50% {
      transform: scale(0.8);
    }
    100% {
      transform: scale(1);
    }
}

section.hero-section ul.social-icons {
    display: flex;
    justify-content: center;
    column-gap: 25px;
    margin-bottom: 20px;
}

section.hero-section ul.social-icons li a {
    font-size: 20px;
    transition: var(--trans-medium);
    color: var(--white);
}

section.hero-section ul.social-icons li:hover a {
    color: var(--accent);
}


/* Mouse Scroll Animation */

.scroll-down {
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
    z-index: 1;
}

.scroll-down.light span {
    color: #454360;
}

.scroll-down.light .mouse {
    border-color: #18191a;
}

.scroll-down.light .mouse .wheel {
    background: #18191a;
}

@-webkit-keyframes ani-mouse {
    0% {
      top: 29%;
    }
    15% {
      top: 50%;
    }
    50% {
      top: 50%;
    }
    100% {
      top: 29%;
    }
}
@keyframes ani-mouse {
    0% {
      top: 29%;
    }
    15% {
      top: 50%;
    }
    50% {
      top: 50%;
    }
    100% {
      top: 29%;
    }
}

.mouse-wrapper {
    color: #fff;
    font-size: 14px;
    display: block;
    max-width: 100px;
    margin: auto;
    text-align: center;
}

.mouse-wrapper:hover {
    color: #fff;
}
  
.mouse {
    border: solid 2px #fff;
    border-radius: 16px;
    display: block;
    margin: auto;
    margin-top: 10px;
    height: 26px;
    position: relative;
    width: 20px;
}

.mouse .wheel {
    background: #fff;
    border-radius: 100%;
    display: block;
    position: absolute;
    top: 8px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 4px;
    width: 4px;
    -webkit-animation: ani-mouse 2s linear infinite;
    animation: ani-mouse 2s linear infinite;
}


/* Parallax Shapes */

.parallax {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.parallax .layer {
    position: absolute;
}

.parallax .p1 {
    left: 10%;
    top: 10%;
}

.parallax .p2 {
    left: 25%;
    top: 30%;
}

.parallax .p3 {
    left: 15%;
    bottom: 30%;
}

.parallax .p4 {
    left: 10%;
    bottom: 10%;
}

.parallax .p5 {
    left: 45%;
    top: 10%;
}

.parallax .p6 {
    left: 40%;
    bottom: 10%;
}

.parallax .p7 {
    top: 20%;
    right: 30%;
}

.parallax .p8 {
    right: 30%;
    bottom: 20%;
}

.parallax .p9 {
    right: 10%;
    top: 10%;
}

.parallax .p10 {
    top: 45%;
    right: 20%;
}

.parallax .p11 {
    bottom: 10%;
    right: 10%;
}


/*================================================= 
-- About Section
=================================================*/

section.about-section {
    padding: 100px 0;
    background: #f9f9ff;
}

section.about-section .contents {
    display: grid;
    grid-template-columns: 3fr 9fr;
    column-gap: 5px;
}

section.about-section .left-content {
    display: flex;
    align-items: center;
}

section.about-section .right-content {
    position: relative;
    z-index: 1;
}

section.about-section .right-content::before {
    position: absolute;
    left: -2%;
    top: 40%;
    content: '';
    border-top: 25px solid transparent;
	border-right: 50px solid hsl(0, 0%, 90%);
	border-bottom: 25px solid transparent;
    z-index: -1;
}

section.about-section .right-content .content-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
    background: var(--white); /* #2f3640 */
}

section.about-section .right-content .content-box p {
    margin-bottom: 20px;
    font-size: 18px;
}

section.about-section .right-content .content-box ul {
    margin-bottom: 20px;
}

section.about-section .right-content .content-box ul li {
    font-size: 18px;
}

section.about-section .left-content img {
    height: 250px;
    margin: 0 auto 16px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid hsl(0, 0%, 70%);
    box-shadow: 0 10px 15px 5px #2f364015;
}

/* About Section Active Status */

section.about-section span.active-status {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
}

section.about-section .contents .github-btn a {
    margin: 0 auto; 
    padding: 10px 20px;
    font-weight: 700;
    border-radius: 20px; 
    color: var(--white);
    background: var(--accent-dark);
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

section.about-section .contents .github-btn a:hover {
    -webkit-animation-name: button-push;
    animation-name: button-push;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

section.about-section .contents .github-btn a:active {
    background: var(--accent);
}

/* Skill Items Section */

.skill-items {
    position: relative;
    width: 100%;
    background: var(--white);
    margin: 0 auto;
    border-radius: 7px;
}

.container .skill-box {
    width: 100%;
    margin: 25px 0;
}

.skill-box .title {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.skill-box .skill-bar {
    height: 8px;
    width: 100%;
    border-radius: 6px;
    margin-top: 6px;
    background: rgba(0,0,0,0.1);
}

.skill-bar .skill-per {
    position: relative;
    display: block;
    height: 100%;
    border-radius: 6px;
    animation: progress 0.5s ease-in-out forwards;
    opacity: 0;
    /* background: #4070f4; */
}

.skill-per.html-css {
    width: 90%;
    animation-delay: 0.5s;
    background: #ff5e57;
}

.skill-per.javascript {
    width: 80%;
    animation-delay: 0.5s;
    background: #6157ff;
}

.skill-per.react-js {
    width: 75%;
    animation-delay: 0.5s;
    background: #00A8FF;
}

.skill-per.nodejs {
    width: 70%;
    animation-delay: 0.5s;
    background: #00c88f;
}

@keyframes progress {
    0%{
        width: 0;
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}

.skill-per .tooltip {
    position: absolute;
    right: -14px;
    top: -28px;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    padding: 2px 6px;
    border-radius: 3px;
    background: #4070f4;
    z-index: 1;
}

.tooltip::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    height: 10px;
    width: 10px;
    z-index: -1;
    background-color: #4070f4;
    transform: translateX(-50%) rotate(45deg);
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


/*================================================= 
-- Services Section
=================================================*/

section.services-section {
    padding: 100px 0;
    background: var(--white);
}

section.services-section .service-boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
    row-gap: 48px;
    margin-top: 48px;
}

section.services-section .service-boxes .service-box {
    padding: 30px 15px;
    text-align: center;
    border-radius: 20px;
    background: #18191a;
}

section.services-section .service-boxes .service-box:hover h2 {
    cursor: pointer;
    color: var(--accent);
}

section.services-section .service-boxes .service-box img {
    margin: 0 auto;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

section.services-section .service-boxes .service-box h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    /* color: var(--font-primary); */
    transition: var(--trans-fast);
    color: var(--white);
}

section.services-section .service-boxes .service-box p {
    /* color: var(--font-secondary); */
    transition: var(--trans-fast);
    color: var(--white);
}


/*================================================= 
-- Work Section
=================================================*/

section.work-section {
    padding: 100px 0;
    background: #f9f9ff;
}

section.work-section .project-cards {
    display: flex;
    flex-wrap: wrap;
    column-gap: 28px;
    row-gap: 48px;
    justify-content: space-between;
    margin-top: 48px;
}

section.work-section .project-cards .project-card {
    position: relative;
    width: 350px;
    height: 240px;
    margin: 0 auto;
    border-radius: 25px;
    overflow: hidden;
    cursor: pointer;
}

section.work-section .project-cards .project-box:hover {
    background: #4070f4;
    /* transform:translateY(-15px); */
}

.project-card .project-text p {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 15px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 20px;
    color: #fff;
    background: #333;
    z-index: 1;
}

.project-card:hover .overlay {
    opacity: 1;
}

.project-card:active .overlay {
    background: rgb(102, 102, 102);
}

.project-card:hover h4.thumbnail-headline {
    opacity: 1;
    transform: translateX(30px);
}

.project-card:hover .label {
    transform: translateY(0);
}

.project-card:hover .circle-btn {
    opacity: 1;
    transform: translateY(0);
}

.project-card img {
    width: 100%;
    height: 240px;
    object-fit: cover;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.6s;
    background: rgba(51, 51, 51, 0.94);
    z-index: 2;
}

.label {
    position: absolute;
    left: 10%;
    top: 0;
    padding: 2px 10px;
    height: 13%;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    transform: translateY(-24px);
    z-index: 2;
    transition: 0.5s ease-in-out;
    color: #fff;
    background-color: var(--accent-dark);
}

p.label-content {
    margin-top: 5px;
}

.project-card h4.thumbnail-headline {
    position: absolute;
    left: 0;
    top: 70px;
    opacity: 0;
    font-size: 20px;
    font-weight: 600;
    z-index: 2;
    transition: 0.5s ease;
    color: #fff;
}

.circle-btn {
    position: absolute;
    right: 5%;
    bottom: 5%;
    height: 50px;
    width: 50px;
    border: 2px solid #333;
    border-radius: 100%;
    transition: 0.5s;
    transform: translateY(16px);
    opacity: 0;
    z-index: 2;
    background-color: var(--accent-dark);
}

.circle-btn svg {
    position: absolute;
    right: 33%;
    bottom: 33%;
    width: 16px;
    height: 16px;
}

.circle-btn svg path {
    fill: #fff;
    transition: all 0.4s ease;
}

.circle-btn:hover svg path {
    fill: #000;
}

.circle-btn:hover {
    border: 2px solid hsl(210, 100%, 50%);
    background-color: #fff;
    transition: 0.6s;
}

.circle-btn:hover i.fa-regular.fa-hand-pointer {
    color: #000;
    transition: 0.6s;
}

.circle-btn:active {
    background-color: hsl(0, 0%, 50%);
}

section.work-section button.project-btn {
    position: relative;
    margin: 30px auto 0; 
    padding: 10px 20px;
    font-weight: 700;
    border-radius: 20px; 
    color: var(--white);
    background: var(--accent-dark);
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

section.work-section button.project-btn:hover {
    -webkit-animation-name: button-push;
    animation-name: button-push;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

section.work-section button.project-btn:active {
    background: var(--accent);
}


/*================================================= 
-- Review Section
=================================================*/

section.review {
    padding: 100px 0;
    background: var(--white);
}

.testimonials-wrapper {
    max-width: 700px;
    margin: auto;
}
  
.testimonial-item {
    padding: 0 20px 20px;
}

.testimonial-item .thumb {
    border-radius: 50%;
    overflow: hidden;
    height: 90px;
    width: 90px;
}

.testimonial-item .subtitle {
    color: var(--accent-dark);
    font-size: 14px;
}

.testimonial-item p {
    font-size: 16px;
}


/*=================================================================*/
/*                      SLICK SETTINGS
/*=================================================================*/

.slick-slide {
    height: auto;
    outline: none;
}

.slick-next,
.slick-prev {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #454360;
    border-radius: 0;
    top: calc(50% - 40px);
    z-index: 1;
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
}
  
.slick-next:hover,
.slick-next:focus,
.slick-prev:hover,
.slick-prev:focus {
    background: #454360;
}
  
.slick-prev {
    left: 0;
}

.slick-prev:hover {
    background: #454360;
}
  
.slick-next {
    right: 0;
}

.slick-next:hover {
    background: #454360;
}
  
.slick-next:before,
.slick-next:after {
    left: 20px;
}
  
.slick-prev:before,
.slick-prev:after {
    left: 17px;
}
  
.slick-prev:before {
    content: "";
    background: #fff;
    display: block;
    width: 1px;
    height: 14px;
    top: 8px;
    position: absolute;
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}
  
.slick-prev:after {
    content: "";
    background: #fff;
    display: block;
    width: 1px;
    height: 14px;
    position: absolute;
    top: 17px;
    -ms-transform: rotate(135deg);
    /* IE 9 */
    -webkit-transform: rotate(135deg);
    /* Chrome, Safari, Opera */
    transform: rotate(135deg);
}
  
.slick-next:before {
    content: "";
    background: #fff;
    display: block;
    width: 1px;
    height: 14px;
    top: 8px;
    position: absolute;
    -ms-transform: rotate(-45deg);
    /* IE 9 */
    -webkit-transform: rotate(-45deg);
    /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
}
  
.slick-next:after {
    content: "";
    background: #fff;
    display: block;
    width: 1px;
    height: 14px;
    position: absolute;
    top: 17px;
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}
  
.slick-dotted.slick-slider {
    margin-bottom: 0;
}
  
.slick-dots {
    position: relative;
    bottom: 0;
    padding: 0;
    margin: 0;
}
  
.slick-dots li {
    width: 10px;
    height: 6px;
    margin: 0 5px;
}
  
.slick-dots li.slick-active {
    width: 20px;
    height: 6px;
}
  
.slick-dots li button {
    width: 10px;
    height: 6px;
    padding: 0;
}
  
.slick-dots li.slick-active button:before {
    background: var(--accent);
    border-radius: 3px;
    opacity: 1;
    height: 6px;
    width: 20px;
    transition: var(--trans-fast);
}
  
.slick-dots li button:before {
    content: "";
    background: hsl(229, 76%, 86%);
    border-radius: 3px;
    opacity: 1;
    height: 6px;
    width: 10px;
    transition: var(--trans-fast);
}


/*================================================= 
-- Contact Section
=================================================*/

section.contact-section {
    padding: 100px 0;
    background: #f9f9ff;
}

section.contact-section .contents {
    display: grid;
    grid-template-columns: 4fr 8fr;
}

section.contact-section .contents .left {
    background: url("../images/map.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}

section.contact-section .contents .left h3 {
    margin-bottom: 10px;
}

section.contact-section .contents .right form {
    padding: 20px;
    border-radius: 16px;
    background: var(--white);
}

section.contact-section .contents .right form .info-input {
    display: flex;
    column-gap: 20px;
}

section.contact-section .contents .right form input#subjectInput {
    margin-top: 20px;
    margin-bottom: 20px;
}

section.contact-section .contents .right form input {
    padding: 10px 20px;
    width: 100%;
    font-size: 16px;
    outline: none;
    border-radius: 20px;
    border: 1px solid hsl(0, 0%, 80%);
}

section.contact-section .contents .right form input:focus {
    border-color: var(--accent);
}

section.contact-section .contents .right form textarea {
    margin-bottom: 20px;
    padding: 10px 20px;
    width: 100%;
    min-height: 150px;
    max-height: 250px;
    font-size: 16px;
    resize: vertical;
    outline: none;
    border-radius: 20px;
    border: 1px solid hsl(0, 0%, 80%);
}

section.contact-section .contents .right form textarea:focus {
    border-color: var(--accent);
}

section.contact-section .contents button.submit-btn {
    position: relative;
    margin: 0 auto; 
    padding: 10px 20px;
    font-weight: 700;
    border-radius: 20px; 
    color: var(--white);
    background: var(--accent-dark);
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

section.contact-section .contents button.submit-btn:hover {
    -webkit-animation-name: button-push;
    animation-name: button-push;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

section.contact-section .contents button.submit-btn:active {
    background: var(--accent);
}


/*================================================= 
-- Footer Section
=================================================*/

footer {
    padding: 24px 0;
    background: var(--footer-background);
}

footer p.footer-text {
    text-align: center;
    color: var(--white);
}



/* ========================================================== */

/* === Go to Top === */
#return-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    background: rgba(0, 0, 0, 0.2);
    width: 40px;
    height: 40px;
    display: block;
    text-decoration: none;
    border-radius: 100%;
    display: none;
    z-index: 4;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 13px;
    top: 12px;
    font-size: 16px;
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

#return-to-top:hover {
    background: var(--accent);
}



/*=================================================================*/
/*              Media Queries (Responsive Devices)                           
/*=================================================================*/

@media screen and (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }

    #return-to-top {
        bottom: 25px;
        right: 25px;
    }

    #return-to-top i {
        left: 13px;
        top: 11px;
    }
}

@media screen and (max-width: 1300px) {
    a.top-btn {
        visibility: hidden;
    }
}

@media screen and (max-width: 1200px) {
    section.about-section .contents {
        grid-template-columns: 1fr;
        row-gap: 30px;
    }

    section.about-section .right-content::before {
        display: none;
    }
}

@media screen and (max-width: 999px) {  
    /* ------------------------------------------
    --- Services Section
    ------------------------------------------ */

    section.services-section .service-boxes {
        grid-template-columns: repeat(2, 1fr);
    }


    /* ------------------------------------------
    --- Contact Section
    ------------------------------------------ */

    section.contact-section .contents {
        grid-template-columns: 1fr;
    }

    section.contact-section .contents .left {
        background: none;
    }

    section.contact-section .contents .right {
        margin-top: 30px;
    }
}

@media screen and (max-width: 768px) {
    .section-title {
        margin-bottom: 30px;
        font-size: 24px;
    }

    .container {
        padding: 0 20px;
    }

    header {
        height: 75px;
        transition: 0.4s;
    }

    header.active-nav {
        height: 380px;
    }

    .mobile-nav-icon {
        display: block;
        position: absolute;
        right: 20px;
    }

    nav .nav-menu-section ul {
        display: none;
        flex-direction: column;
        row-gap: 25px;
        position: absolute;
        left: 20px;
        top: 28%;
        transition: 0.5s;
    }

    nav .nav-menu-section ul.active-nav {
        display: flex;
    }

    section.hero-section {
        height: 100vh;
    }

    section.about-section .right-content .content-box {
        grid-template-columns: 1fr;
    }

    section.about-section .right-content .content-box .skill-items {
        margin-top: 30px;
    }

    /* ------------------------------------------
    --- Services Section
    ------------------------------------------ */

    section.services-section .service-boxes {
        grid-template-columns: 1fr;
    }


    /* ------------------------------------------
    --- Contact Section
    ------------------------------------------ */

    section.contact-section .contents .right form .info-input {
        flex-direction: column;
        row-gap: 20px;
    }

    section.contact-section .contents .right form textarea {
        resize: none;
    }


    /* ------------------------------------------
    --- Footer Section
    ------------------------------------------ */

    footer p.footer-text {
        font-size: 14px;
    }
}

@media only screen and (max-width: 576px) {
    .parallax .p1 {
      left: 10%;
      top: 10%;
    }
    .parallax .p2 {
      left: 15%;
      top: 30%;
    }
    .parallax .p3 {
      left: 10%;
      bottom: 30%;
    }
    .parallax .p4 {
      left: 10%;
      bottom: 10%;
    }
    .parallax .p5 {
      left: 45%;
      top: 3%;
    }
    .parallax .p6 {
      left: 40%;
      bottom: 10%;
    }
    .parallax .p7 {
      top: 20%;
      right: 30%;
    }
    .parallax .p8 {
      right: 30%;
      bottom: 20%;
    }
    .parallax .p9 {
      right: 10%;
      top: 5%;
    }
    .parallax .p10 {
      top: 45%;
      right: 10%;
    }
    .parallax .p11 {
      bottom: 10%;
      right: 10%;
    }


    /* ------------------------------------------
    --- Footer Section
    ------------------------------------------ */

    footer p.footer-text {
        font-size: 12px;
    }
}